tablesetup/schema/deep.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://synapse.cs.umd.edu/tabletop-xml" 
    elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" 
    xmlns:tt="http://synapse.cs.umd.edu/tabletop-xml">
	<simpleType name="colorType">
		<restriction base="string">
			<pattern value="black" />
			<pattern value="blue" />
			<pattern value="brown" />
			<pattern value="cyan" />
			<pattern value="darkgray" />
			<pattern value="gray" />
			<pattern value="green" />
			<pattern value="lightgray" />
			<pattern value="magenta" />
			<pattern value="orange" />
			<pattern value="pink" />
			<pattern value="red" />
			<pattern value="white" />
			<pattern value="yellow" />
			<pattern value="\s*#[0-9a-fA-F]{6}\s*" />
		</restriction>
	</simpleType>
	<simpleType name="spanType">
		<restriction base="float">
			<minInclusive value="0.001" />
		</restriction>
	</simpleType>
	<simpleType name="massType">
		<restriction base="float">
			<minInclusive value="0" />
		</restriction>
	</simpleType>
    <simpleType name="countType">
        <restriction base="int">
            <minInclusive value="0" />
        </restriction>
    </simpleType>
    <simpleType name="fileType">
    	<restriction base="string">
    	</restriction>
    </simpleType>
	<simpleType name="idType">
		<restriction base="string">
			<pattern value="[_a-zA-Z0-9]*" />
		</restriction>
	</simpleType>
	<simpleType name="vector3Type">
		<restriction base="string">
			<pattern
				value="\s*[(]\s*([\-]?\d*(\.\d+)?)\s*,\s*([\-]?\d*(\.\d+)?)\s*,\s*([\-]?\d*(\.\d+)?)\s*[)]\s*" />
		</restriction>
	</simpleType>
    
    <attributeGroup name="basicShapeAttrs">
		<attribute name="id" type="tt:idType" use="optional"/>
		<attribute name="location" type="tt:vector3Type" use="required" />
		<attribute name="rotation" type="tt:vector3Type" use="optional" default="(0,0,0)">
			<annotation>
				<documentation>rotation along x, y, and z axis, respectively.
				</documentation>
			</annotation>
		</attribute>
    </attributeGroup>
    <attributeGroup name="basicObjectAttrs">
        <attribute name="mass" type="tt:massType" use="optional" default="1"/>
    </attributeGroup>
    
    <attributeGroup name="blockAttrs">
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="color" type="tt:colorType" use="optional" default="gray"/>
        <attribute name="xspan" type="tt:spanType" use="optional" default="1"/>
        <attribute name="yspan" type="tt:spanType" use="optional" default="1"/>
        <attribute name="zspan" type="tt:spanType" use="optional" default="1"/>
    </attributeGroup>
    <complexType name="blockType">
        <attributeGroup ref="tt:blockAttrs"/>
    </complexType>
    <complexType name="blockObjectType">
        <attributeGroup ref="tt:blockAttrs"/>
        <attributeGroup ref="tt:basicObjectAttrs"/>
    </complexType>
    
	<attributeGroup name="cylinderAttrs">
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="color" type="tt:colorType" use="optional" default="gray"/>
        <attribute name="radius" type="tt:spanType" use="optional" default="0.5"/>
        <attribute name="yspan" type="tt:spanType" use="optional" default="1"/>
	</attributeGroup>
    <complexType name="cylinderType">
        <attributeGroup ref="tt:cylinderAttrs"/>
    </complexType>
    <complexType name="cylinderObjectType">
        <attributeGroup ref="tt:cylinderAttrs"/>
        <attributeGroup ref="tt:basicObjectAttrs"/>
    </complexType>

    <attributeGroup name="sphereAttrs">
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="color" type="tt:colorType" use="optional" default="gray"/>
        <attribute name="radius" type="tt:spanType" use="optional" default="0.5"/>
    </attributeGroup>
    <complexType name="sphereType">
        <attributeGroup ref="tt:sphereAttrs"/>
    </complexType>    
    <complexType name="sphereObjectType">
        <attributeGroup ref="tt:sphereAttrs"/>
        <attributeGroup ref="tt:basicObjectAttrs"/>
    </complexType>

    <attributeGroup name="boxAttrs">
        <attributeGroup ref="tt:blockAttrs"/>
        <attribute name="thickness" type="tt:spanType" use="optional" default="0.05"/>
    </attributeGroup>    
    <complexType name="boxType">
        <attributeGroup ref="tt:boxAttrs"/>
    </complexType>
    <complexType name="boxObjectType">
        <attributeGroup ref="tt:boxAttrs"/>
        <attributeGroup ref="tt:basicObjectAttrs"/>
    </complexType>

    <attributeGroup name="customAttrs">
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="file" type="tt:fileType" use="required" />
        <attribute name="color" type="tt:colorType" use="optional" default="gray"/>
        <attribute name="scale" type="tt:spanType" use="optional" default="1"/>
    </attributeGroup>
	<complexType name="customType">
        <attributeGroup ref="tt:customAttrs"/>
	</complexType>
    <complexType name="customObjectType">
        <attributeGroup ref="tt:customAttrs"/>
        <attributeGroup ref="tt:basicObjectAttrs"/>
    </complexType>
    
    <complexType name="compositeType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <choice>
                <element name="block" type="tt:blockType"/>
                <element name="cylinder" type="tt:cylinderType"/>
                <element name="sphere" type="tt:sphereType"/>
                <element name="box" type="tt:boxType"/>
                <element name="custom" type="tt:customType"/>
                <element name="composite" type="tt:compositeType"/>            
                <element name="toggleSwitch" type="tt:toggleSwitchType"/>            
                <element name="indicatorSet" type="tt:indicatorSetType"/>            
            </choice>
        </sequence>
        <attributeGroup ref="tt:basicShapeAttrs"/>
    </complexType>
    <complexType name="compositeObjectType">
        <complexContent>
            <extension base="tt:compositeType">
                <attributeGroup ref="tt:basicObjectAttrs"/>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="abstractStatefulObjectType">
        <sequence minOccurs="0" maxOccurs="unbounded">
            <element name="downstream">
                <complexType>
                    <attribute name="id" type="tt:idType" use="required"/>
                </complexType>
            </element>
        </sequence>
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="initState" type="tt:countType" use="optional" default="0"/>
    </complexType>
    
    <complexType name="toggleSwitchType">
        <complexContent>
            <extension base="tt:abstractStatefulObjectType">
                <annotation>
                    <documentation>
                        An integer internal state [0, numState) increases every time the switch is toggled.
                        The state is reset to 0 when it exceeds the maximum value.
                        The internal state is not directly related to which side of the switch is down.
                        They can be initialized independently using initState and leftPressed, respectively.  
                    </documentation>
                </annotation>
                <attribute name="xspan" type="tt:spanType" use="optional" default="0.6"/>
                <attribute name="yspan" type="tt:spanType" use="optional" default="0.3"/>
                <attribute name="zspan" type="tt:spanType" use="optional" default="0.1"/>
                <attribute name="angle" type="float" use="optional" default="6"/>
                <attribute name="color" type="tt:colorType" use="optional" default="darkgray"/>
                <attribute name="leftPressed" type="boolean" use="optional" default="true"/>
                <attribute name="numStates" type="tt:countType" use="optional" default="2"/>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="toggleSwitchObjectType">
        <complexContent>
            <extension base="tt:toggleSwitchType">
                <attributeGroup ref="tt:basicObjectAttrs"/>
            </extension>
        </complexContent>
    </complexType>
    
    <complexType name="indicatorSetType">
        <complexContent>
            <extension base="tt:abstractStatefulObjectType">
                <annotation>
                    <documentation>Max number of lights = 32</documentation>
                </annotation>
                <sequence minOccurs="1" maxOccurs="unbounded">
                    <annotation>
                        <documentation>
	                        The first state element represents internal state 0, the second represents state 1, etc.
	                        The internal state is coupled with the visible state of the indicator lights, defined
	                        in the child elements.
                        </documentation>
                    </annotation>
                    <element name="state">
                        <complexType>
                            <sequence minOccurs="0" maxOccurs="unbounded">
                                <annotation>
                                    <documentation>
                                        Each light element indicates that a specified light is turned on 
                                        using a certain color.
                                        The id attribute indicate which light is turned on. Possible values are 
                                        [0, numLights). Lights that do not appear here is turned off.
                                    </documentation>
                                </annotation>
                                <element name="light">
                                    <complexType>
                                        <attribute name="id" type="tt:countType" use="required"/>
                                        <attribute name="color" type="tt:colorType" use="optional" default="red"/>
                                    </complexType>
                                </element>
                            </sequence>
                        </complexType>
                    </element>
                </sequence>
                <attribute name="lightRadius" type="tt:spanType" use="optional" default="0.03"/>
                <attribute name="lightZspan" type="tt:spanType" use="optional" default="0.005"/>
                <attribute name="numLights" type="tt:countType" use="optional" default="2"/>
                <attribute name="xspan" type="tt:spanType" use="optional" default="0.15"/>                
            </extension>
        </complexContent>
    </complexType>    
    <complexType name="indicatorSetObjectType">
        <complexContent>
            <extension base="tt:indicatorSetType">
                <attributeGroup ref="tt:basicObjectAttrs"/>
            </extension>
        </complexContent>
    </complexType>    

    <group name="singleObjectGroup">
        <choice>
            <element name="block" type="tt:blockObjectType"/>
            <element name="cylinder" type="tt:cylinderObjectType"/>
            <element name="sphere" type="tt:sphereObjectType"/>
            <element name="box" type="tt:boxObjectType"/>
            <element name="custom" type="tt:customObjectType"/>
            <element name="composite" type="tt:compositeObjectType"/>            
            <element name="toggleSwitch" type="tt:toggleSwitchObjectType"/>            
            <element name="indicatorSet" type="tt:indicatorSetObjectType"/>            
        </choice>
    </group>
    
    <group name="multiObjectGroup">
        <choice>
            <element name="chain">
                <complexType>
                    <attribute name="id" type="tt:idType" use="optional"/>
                    <attribute name="color" type="tt:colorType" use="optional" default="gray"/>
                    <attribute name="start" type="tt:vector3Type" use="required"/>
                    <attribute name="end" type="tt:vector3Type" use="required"/>
                    <attribute name="linkXspan" type="tt:spanType" use="optional" default="0.1"/>
                    <attribute name="linkYspan" type="tt:spanType" use="optional" default="1"/>
                    <attribute name="linkZspan" type="tt:spanType" use="optional" default="0.1"/>
                    <attribute name="linkCount" type="tt:countType" use="optional" default="0"/>
                    <attribute name="linkPadding" type="tt:spanType" use="optional" default="0.05"/>
                    <attribute name="linkMass" type="tt:massType" use="optional" default="1"/>
                </complexType>
            </element>
            <element name="dock">
                <complexType>
                    <complexContent>
                        <extension base="tt:blockType">
                      <attribute name="xthickness" type="tt:spanType" use="optional" default="0.3"/>
                      <attribute name="ythickness" type="tt:spanType" use="optional" default="0.15"/>
                      <attribute name="zthickness" type="tt:spanType" use="optional" default="0.1"/>
                      <attribute name="caseMass" type="tt:massType" use="optional" default="500"/>
                      <attribute name="mass" type="tt:massType" use="optional" default="100"/>
                      <attribute name="caseColor" type="tt:colorType" use="optional" default="darkgray"/>
                      <attribute name="handleColor" type="tt:colorType" use="optional" default="blue"/>
                      <attribute name="handleXspan" type="tt:spanType" use="optional" default="0.25"/>
                      <attribute name="handleYspan" type="tt:spanType" use="optional" default="0.6"/>
                      <attribute name="handleZspan" type="tt:spanType" use="optional" default="0.3"/>
                      <!-- initial states of the switches: 0=off, 1=on -->
                      <attribute name="switchState1" type="integer" use="optional" default="1"/>
                      <attribute name="switchState2" type="integer" use="optional" default="1"/>
                      <attribute name="switchState3" type="integer" use="optional" default="1"/>
                      <attribute name="switchState4" type="integer" use="optional" default="1"/>
                      <!-- initial state of the LED lights: 0=green, 1=red, other=off -->
                      <attribute name="lightState1" type="integer" use="optional" default="0"/>
                      <attribute name="lightState2" type="integer" use="optional" default="0"/>
                      <attribute name="lightState3" type="integer" use="optional" default="0"/>
                      <attribute name="lightState4" type="integer" use="optional" default="0"/>
                        </extension>
                    </complexContent>
                </complexType>
            </element>
        </choice>
    </group>
    
    <complexType name="sliderJointType">
        <sequence minOccurs="2" maxOccurs="2">
            <group ref="tt:singleObjectGroup"/>
        </sequence>
        <attributeGroup ref="tt:basicShapeAttrs"/>
        <attribute name="min" type="float" use="optional" default="0"/>
        <attribute name="max" type="float" use="optional" default="1"/>
        <attribute name="init" type="float" use="optional" default="0"/>
        <attribute name="collision" type="boolean" use="optional" default="false"/>
    </complexType>
    
    <group name="jointGroup">
        <choice>
            <element name="sliderJoint" type="tt:sliderJointType"/>
        </choice>
    </group>

	<element name="tabletop">
        <complexType>
            <sequence minOccurs="0" maxOccurs="unbounded">
                <choice>
                    <group ref="tt:singleObjectGroup"/>
                    <group ref="tt:multiObjectGroup"/>
                    <group ref="tt:jointGroup"/>
                </choice>
            </sequence>
            <attribute name="xspan" type="tt:spanType" use="optional" default="20"/>
            <attribute name="yspan" type="tt:spanType" use="optional" default="12"/>
        </complexType>
	</element>
</schema>
